<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>修改用户手机号</title>
    </head>
    <body>
        <form action="/update" method="POST">
            <p><input type="text" name="uid" placeholder="用户ID" value="{{ user.uid }}" readonly></p>
            <!-- disabled不可修改属性无法提交数据，可改为readonly -->
            <p><input type="text" name="uname" placeholder="昵称" value="{{ user.uname }}" readonly></p>
            <p><input type="text" name="img" placeholder="头像" value="{{ user.img }}" readonly></p>
            <p><input type="text" name="tel" placeholder="手机号" value="{{ user.tel }}"></p>
            <p><input type="submit" value="修改用户"></p>
        </form>
    </body>
</html>